<header class="header header-librari">
  <div class="container header__container">
    <div class="header__site-nav site-nav">
      <a class="site-nav__logo logo link" href="./index.html">
        <svg class="logo__svg">
          <use href="./images/symbol-defs.svg#icon-film"></use>
        </svg>
        <span class="logo__name">Filmoteka</span>
      </a>
      <nav class="site-nav__list list">
        <li class="site-nav__item">
          <a href="./index.html" class="site-nav__link link">
            <span class="site-nav__txt">home</span>
          </a>
        </li>
        <li class="site-nav__item">
          <a
            href="./library.html"
            class="site-nav__link link site-nav__link-active"
          >
            <span class="site-nav__txt">my library</span>
          </a>
        </li>
      </nav>
    </div>
    <div class="header__btn-box btn-box">
      <button class="btn-box__btn btn-box__btn-active" id="watched">
        Watched
      </button>
      <button class="btn-box__btn" id="queue">queue</button>
    </div>
    <button type="button" class="thema-btn thema-btn__librari">
      <svg class="thema-btn__svg" width="30px" height="30px">
        <use href="./images/symbol-defs.svg#icon-light"></use>
      </svg>
    </button>
  </div>
</header>
